<% layout('layout') -%>

<div class="container text-center">
    <h3><%= projectName %></h3>
</div>

<hr>

<div class="container text-center">
    <div class="row">
        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title text-center">
                        Score
                  </h4>
                </div>
                <div class="panel-body text-center">
                    <h4><%= codeScore %></h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title text-center">
                        CheckStyle Score
                  </h4>
                </div>
                <div class="panel-body text-center">
                    <div class="row">
                        <div class="col-md-9">
                            <a href="/checkstyle?fileName=<%= projectName %>">    
                                <div class="btn btn-primary">CheckStyle Report</div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <h4><%= checkStyleScore %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title text-center">
                        JDepend Score
                  </h4>
                </div>
                <div class="panel-body text-center">
                    <div class="row">
                        <div class="col-md-9">
                            <a href="/jdepend?fileName=<%= projectName %>">    
                                <div class="btn btn-primary">JDepend Report</div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <h4><%= jDependScore %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container text-center">
	<h2>Score Bar</h2>
	<p>The following indicates your coding ability</p>
	
	<div class="progress">
		<% if (codeScore<25) { %>
			<div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" style="width:<%= codeScore %>%">
				Bad
			</div>
		<% } else if (codeScore>=25 && codeScore < 65) { %>
			<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" style="width:<%= codeScore %>%">
		    	Satisfactory
		    </div>
		<% } else {  %>
		    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar " style="width:<%= codeScore %>%">
		    	Good
		    </div>
		<% } %>
	</div>
	
</div>

<form action="/updateWeights" method="POST">
	<div class="form-group">
		<div class="row">
			<div class="col-md-6">
			<div id="editableCheckStyleWeights" style="float: left">
				<h3>Weights for CheckStyle Errors</h3>
				<table class="table table-hover" border="1" style="width:100%">
					<tr>
						<td><strong>Error</strong></td>
						<td><strong>Value</strong></td>
					</tr>
					<tr>
						<td>AbbrevationAsWordInNameCheck</td>
						<td><input type="number" name="AbbrevationAsWordInNameCheck" value=50></input></td>
					</tr>
					
					<tr>
						<td>ArrayTypeStyleCheck</td>
						<td><input type="number" name="ArrayTypeStyleCheck" value=0></input></td>
					</tr>
					
					<tr>
						<td>CyclomaticComplexityCheck</td>
						<td><input type="number" name="CyclomaticComplexityCheck" value=0></input></td>
					</tr>
					
					<tr>
						<td>WhitespaceAroundCheck</td>
						<td><input type="number" name="WhitespaceAroundCheck" value=0></input></td>
					</tr>
					
					<tr>
						<td>MethodLengthCheck</td>
						<td><input type="number" name="MethodLengthCheck" value=10></input></td>
					</tr>
					
					<tr>
						<td>JavadocMethodCheck</td>
						<td><input type="number" name="JavadocMethodCheck" value=30></input></td>
					</tr>
					
					<tr>
						<td>IndentationCheck</td>
						<td><input type="number" name="IndentationCheck" value=20></input></td>
					</tr>
				</table>
			</div>
			</div>
			<div class="col-md-6">
			<div id="editableWeightsJDepend" style="float: left; margin-left: 150px">
				<h3>Weights for JDepend Errors</h3>
				<table class="table table-hover" border="1" style="width:100%">
					<tr>
						<td><strong>Error</strong></td>
						<td><strong>Value</strong></td>
					</tr>
					<tr>
						<td>Afferent Couplings</td>
						<td><input type="number" name="ca" value=1></input></td>
					</tr>
					
					<tr>
						<td>Efferent Couplings</td>
						<td><input type="number" name="ce" value=2></input></td>
					</tr>
					
					<tr>
						<td>Abstractness</td>
						<td><input type="number" name="a" value=1></input></td>
					</tr>
					
					<tr>
						<td>Instability</td>
						<td><input type="number" name="i" value=10></input></td>
					</tr>
					
					<tr>
						<td>Distance from the main sequence</td>
						<td><input type="number" name="d" value=1></input></td>
					</tr>
				</table>
				<input type="hidden" name="fileName" value="<%= projectName %>"/>
			</div>
			</div>
		</div>
		<div class="text-center">   
	     		<button type="submit" class="btn btn-primary" style="width: 30%; margin: 0 auto;">Compute Score</div>
		</div>
	</div>
</form>